header.l-header
  .l-header__inner
    .l-contents
      .p-global-header
        h1.p-global-header__heading
          a#js-global-heading(href='#js-setion-profile')
            | Shizuka Kawakami
        nav#js-global-nav.p-global-header__nav-bar
          ul.p-global-nav
            li.p-global-nav__item
              a#js-global-nav-profile.p-global-nav__target.js-global-nav-trigger.is-active(href='#js-setion-profile')
                | Profile
            li.p-global-nav__item
              a#js-global-nav-skill.p-global-nav__target.js-global-nav-trigger(href='#js-setion-skill')
                | Skill &amp; Tool
            li.p-global-nav__item
              a#js-global-nav-slide.p-global-nav__target.js-global-nav-trigger(href='#js-setion-slide')
                | Slide
            li.p-global-nav__item
              a#js-global-nav-design.p-global-nav__target.js-global-nav-trigger(href='#js-setion-design')
                | Design
