section#js-setion-slide.p-block.js-block(data-block-id='slide')
  h2.p-block__heading1
    | Slide
  .p-block__contents
    ul.p-works.is-list
      li.p-works__item
        a.p-works__contents.p-work(href='/images/slide/about_sass.pdf' target='_blank')
          .p-work__header
            p.p-work__year
              | 2015年
            p.p-work__caption
              | Sass導入にあたり、メンバーへの説明会用に作成したスライド その1
          .p-work__for-pdf
          p.p-work__image
            img(src='/images/slide/about_sass.png' alt='Sassとは')

      li.p-works__item
        a.p-works__contents.p-work(href='/images/slide/how_to_use_sass.pdf' target='_blank')
          .p-work__header
            p.p-work__year
              | 2015年
            p.p-work__caption
              | Sass導入にあたり、メンバーへの説明会用に作成したスライド その2
          .p-work__for-pdf
          p.p-work__image
            img(src='/images/slide/how_to_use_sass.png' alt='Sassの機能')

      li.p-works__item
        a.p-works__contents.p-work(href='/images/slide/css_animation.pdf' target='_blank')
          .p-work__header
            p.p-work__year
              | 2015年
            p.p-work__caption
              | 開発者向け社内勉強会（LT大会）用に作成したスライド
          .p-work__for-pdf
          p.p-work__image
            img(src='/images/slide/css_animation.png' alt='脱JavaScript！CSS3で作るアニメーション')

