section#js-setion-profile.p-block.js-block(data-block-id='profile')
  h2.p-block__heading1
    | Profile
  .p-block__contents
    .p-profile
      p.p-profile__name
        | 川上 静香 （かわかみ しずか）
      ul.p-profile__ex
        li
          | Web Designer
        li
          a(href='https://github.com/sizucca' target='_blank')
            | GitHub
        li
          a(href='http://qiita.com/sizucca' target='_blank')
            | Qiita
    p.u-p
      | 石川県出身。
      br
      | Webデザイナー歴15年。
    p.u-p
      | 得意な事は、
      span.u-em
        | UIデザイン
      | 、
      span.u-em
        | フロントエンド設計
      | 、
      span.u-em
        | コーディング
      | （HTML / CSS / JavaScript）。
      br
      span.u-em
        | 黒い画面
      | とは割とお友達。
