section#js-setion-design.p-block.js-block(data-block-id='design')
  h2.p-block__heading1
    | Design

  //- Website
  section.p-block__contents
    h3.p-block__heading2
      | Website : 2004 - 2015
    .p-works.is-list.js-works(data-work-item='1')
      .p-works__item.js-detail-trigger
        section.p-works__contents.p-work
          header.p-work__header
            p.p-work__year
                | 2004年
              h4.p-work__heading
                | 受注制作：アクセサリーショップのサイト
          .p-work__for-detail
          dl.p-work__detail.c-description
            dt
              | 制作メンバー
            dd
              | 営業ディレクター 1名
              | /
              | デザイナー 1名
            dt
              | 担当・役割
            dd
              | デザイナー
              br
              | 写真加工 / デザイン / コーディング / 更新管理
            dt
              | 使用言語
            dd
              | HTML4.01 / CSS
          p.p-work__image
            img(src='/images/design/design_1.jpg' alt='')

      .p-works__item.js-detail-trigger
        section.p-works__contents.p-work
          header.p-work__header
            p.p-work__year
              | 2005年
            h4.p-work__heading
              | 受注制作：ダイニング系居酒屋のサイト
          .p-work__for-detail
          dl.p-work__detail.c-description
            dt
              | 制作メンバー
            dd
              | 営業ディレクター 1名
              | /
              | デザイナー 1名
            dt
              | 担当・役割
            dd
              | デザイナー
              br
              | デザイン / コーディング / Flash制作 / Prelプログラミング / 更新管理
            dt
              | 使用言語
            dd
              | XHTML1.0 / CSS / Flash / Prel
          p.p-work__image
            img(src='/images/design/design_2.jpg' alt='')

      .p-works__item.js-detail-trigger
        section.p-works__contents.p-work
          header.p-work__header
            p.p-work__year
              | 2005年
            h4.p-work__heading
              | 受注制作：宿泊レストランのサイト
          .p-work__for-detail
          dl.p-work__detail.c-description
            dt
              | 制作メンバー
            dd
              | 営業ディレクター 1名
              | /
              | デザイナー 1名
            dt
              | 担当・役割
            dd
              | デザイナー
              br
              | デザイン / コーディング / Flash制作 / 更新管理
            dt
              | 使用言語
            dd
              | XHTML1.0 / CSS / Flash
          p.p-work__image
            img(src='/images/design/design_3.jpg' alt='')

      .p-works__item.js-detail-trigger
        section.p-works__contents.p-work
          header.p-work__header
            p.p-work__year
              | 2006年
            h4.p-work__heading
              | 自社サイト：サイトリニューアル
          .p-work__for-detail
          dl.p-work__detail.c-description
            dt
              | 制作メンバー
            dd
              | 編集・ライター 5名
              | /
              | デザイナー 1名
            dt
              | 担当・役割
            dd
              | デザイナー
              br
              | UI設計 / デザイン / コーディング / Flash制作 / PHPプログラミング / ライティング / アクセス解析
            dt
              | 使用言語
            dd
              | XHTML1.0 / CSS / Flash / PHP / PostgreSQL
          p.p-work__image
            img(src='/images/design/design_4.jpg' alt='')

      .p-works__item.js-detail-trigger
        section.p-works__contents.p-work
          header.p-work__header
            p.p-work__year
              | 2007年
            h4.p-work__heading
              | 自社サイト：5周年記念特設サイト
          .p-work__for-detail
          dl.p-work__detail.c-description
            dt
              | 制作メンバー
            dd
              | 編集・ライター 5名
              | /
              | デザイナー 1名
            dt
              | 担当・役割
            dd
              | デザイナー
              br
              | UI設計 / デザイン / コーディング / PHPプログラミング / Movable Typeカスタマイズ / ライティング / 記事編集
            dt
              | 使用言語
            dd
              | XHTML1.0 / CSS / PHP
          p.p-work__image
            img(src='/images/design/design_5.jpg' alt='')

      .p-works__item.js-detail-trigger
        section.p-works__contents.p-work
          header.p-work__header
            p.p-work__year
              | 2007年
            h4.p-work__heading
              | 自社サイト：ランチ特集
          .p-work__for-detail
          dl.p-work__detail.c-description
            dt
              | 制作メンバー
            dd
              | 編集・ライター 5名
              | /
              | デザイナー 1名
            dt
              | 担当・役割
            dd
              | デザイナー
              br
              | UI設計 / デザイン / コーディング / Movable Typeカスタマイズ / 記事編集
            dt
              | 使用言語
            dd
              | XHTML1.0 / CSS / PHP
          p.p-work__image
            img(src='/images/design/design_6.jpg' alt='')

      .p-works__item.js-detail-trigger
        section.p-works__contents.p-work
          header.p-work__header
            p.p-work__year
              | 2007年
            h4.p-work__heading
              | 受注制作：化粧品の通販サイト
          .p-work__for-detail
          dl.p-work__detail.c-description
            dt
              | 制作メンバー
            dd
              | 営業ディレクター 1名
              | /
              | デザイナー 1名
            dt
              | 担当・役割
            dd
              | デザイナー
              br
              | ディレクション / デザイン / コーディング / Movable Typeカスタマイズ / カートシステム連携 / 更新管理
            dt
              | 使用言語
            dd
              | XHTML1.0 / CSS / PHP
          p.p-work__image
            img(src='/images/design/design_7.jpg' alt='')

      .p-works__item.js-detail-trigger
        section.p-works__contents.p-work
          header.p-work__header
            p.p-work__year
              | 2007年
            h4.p-work__heading
              | 自社サイト：雑誌連動の通販サイト
          .p-work__for-detail
          dl.p-work__detail.c-description
            dt
              | 制作メンバー
            dd
              | デザイナー 1名
            dt
              | 担当・役割
            dd
              | デザイナー
              br
              | UI設計 / デザイン / コーディング / PHPプログラミング / osCommerceカスタマイズ
            dt
              | 使用言語
            dd
              | XHTML1.0 / CSS / PHP
          p.p-work__image
            img(src='/images/design/design_8.jpg' alt='')

      .p-works__item.js-detail-trigger
        section.p-works__contents.p-work
          header.p-work__header
            p.p-work__year
              | 2007年
            h4.p-work__heading
              | 自社サイト：観光案内サイト
          .p-work__for-detail
          dl.p-work__detail.c-description
            dt
              | 制作メンバー
            dd
              | 編集・ライター 5名
              | /
              | デザイナー 1名
            dt
              | 担当・役割
            dd
              | デザイナー
              br
              | UI設計 / デザイン / コーディング
            dt
              | 使用言語
            dd
              | XHTML1.0 / CSS
          p.p-work__image
            img(src='/images/design/design_9.jpg' alt='')

      .p-works__item.js-detail-trigger
        section.p-works__contents.p-work
          header.p-work__header
            p.p-work__year
              | 2008年
            h4.p-work__heading
              | 自社サイト：ワインキャンペーン
          .p-work__for-detail
          dl.p-work__detail.c-description
            dt
              | 制作メンバー
            dd
              | ディレクター 1名
              | /
              | デザイナー 1名
            dt
              | 担当・役割
            dd
              | デザイナー
              br
              | デザイン / コーディング
            dt
              | 使用言語
            dd
              | XHTML1.0 / CSS
          p.p-work__image
            img(src='/images/design/design_11.jpg' alt='')

      .p-works__item.js-detail-trigger
        section.p-works__contents.p-work
          header.p-work__header
            p.p-work__year
              | 2010年
            h4.p-work__heading
              | 自社サイト：デザインリニューアル
          .p-work__for-detail
          dl.p-work__detail.c-description
            dt
              | 制作メンバー
            dd
              | エンジニア 1名
              | /
              | デザイナー 1名
            dt
              | 担当・役割
            dd
              | デザイナー
              br
              | UI設計 / デザイン / コーディング
            dt
              | 使用言語
            dd
              | XHTML1.0 / CSS
            dt
              | 備考
            dd
              | 2回目のデザインリニューアル（1回目は2008年）
          p.p-work__image
            img(src='/images/design/design_10.png' alt='')

      .p-works__item.js-detail-trigger
        section.p-works__contents.p-work
          header.p-work__header
            p.p-work__year
              | 2011年
            h4.p-work__heading
              | 自社サイト：記念キャンペーン
          .p-work__for-detail
          dl.p-work__detail.c-description
            dt
              | 制作メンバー
            dd
              | 企画 2名
              | /
              | エンジニア 1名
              | /
              | デザイナー 1名
            dt
              | 担当・役割
            dd
              | デザイナー
              br
              | UI設計 / デザイン / コーディング
            dt
              | 使用言語
            dd
              | XHTML1.0 / CSS
          p.p-work__image
            img(src='/images/design/design_12.jpg' alt='')

      .p-works__item.js-detail-trigger
        section.p-works__contents.p-work
          header.p-work__header
            p.p-work__year
              | 2012年
            h4.p-work__heading
              | 自社サイト：ビールキャンペーン
          .p-work__for-detail
          dl.p-work__detail.c-description
            dt
              | 制作メンバー
            dd
              | 営業企画 1名
              | /
              | デザイナー 1名
            dt
              | 担当・役割
            dd
              | デザイナー
              br
              | デザイン / コーディング
            dt
              | 使用言語
            dd
              | XHTML1.0 / CSS
          p.p-work__image
            img(src='/images/design/design_13.jpg' alt='')

      .p-works__item.js-detail-trigger
        section.p-works__contents.p-work
          header.p-work__header
            p.p-work__year
              | 2014年
            h4.p-work__heading
              | 自社サイト：ネット予約管理画面
          .p-work__for-detail
          dl.p-work__detail.c-description
            dt
              | 制作メンバー
            dd
              | ディレクター 1名
              | /
              | エンジニア 3名
              | /
              | デザイナー 1名
            dt
              | 担当・役割
            dd
              | デザイナー
              br
              | モックアップ作成 / スタイルガイド作成 / UIデザイン / コーディング
            dt
              | 使用言語
            dd
              | HTML5 / CSS / Ruby on Rails
          p.p-work__image
            img(src='/images/design/design_14.png' alt='')

      .p-works__item.js-detail-trigger
        section.p-works__contents.p-work
          header.p-work__header
            p.p-work__year
              | 2015年
            h4.p-work__heading
              | 自社サイト：スタイルガイド
          .p-work__for-detail
          dl.p-work__detail.c-description
            dt
              | 制作メンバー
            dd
              | エンジニア 1名（ヘルプデスク）
              | /
              | デザイナー 1名
            dt
              | 使用言語・ツール
            dd
              | HTML5 / Sass（SCSS） / JavaScript / Hologram
          p.p-work__image
            img(src='/images/design/design_15.png' alt='')

    #js-detail-outside.p-works-outside
    #js-detail-inside.p-works-inside
    #js-detail-prev.p-works-prev
    #js-detail-next.p-works-next
    #js-detail-close.p-works-close

  //- Banner
  section.p-block__contents
    h3.p-block__heading2
      | Banner : 2007 - 2008
    ul.p-banners
      li.p-banners__item
        img(src='/images/design/banner_1.jpg' width='302' height='212' alt='制作バナー例：1')
      li.p-banners__item
        img(src='/images/design/banner_2.jpg' width='302' height='212' alt='制作バナー例：2')
      li.p-banners__item
        img(src='/images/design/banner_3.jpg' width='302' height='212' alt='制作バナー例：3')
      li.p-banners__item
        img(src='/images/design/banner_4.jpg' width='302' height='212' alt='制作バナー例：4')
      li.p-banners__item
        img(src='/images/design/banner_5.jpg' width='302' height='212' alt='制作バナー例：5')
      li.p-banners__item
        img(src='/images/design/banner_6.jpg' width='302' height='212' alt='制作バナー例：6')
      li.p-banners__item
        img(src='/images/design/banner_7.jpg' width='302' height='212' alt='制作バナー例：7')
      li.p-banners__item
        img(src='/images/design/banner_8.jpg' width='302' height='212' alt='制作バナー例：8')
